{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <form method="POST" class="mt-5">
     {% csrf_token %}
     {{ form.as_p }}
     <br>
     <ui>
         <li>Vaša nova lozinka ne sme biti slična Vašem korisničkom imenu.
         </li>
         <li>
            Vaša nova lozinka mora sadržati minimum 8 karaktera.
         </li>
         <li>
            Vaša nova lozinka ne sme biti lozinka koja se često koristi. <i>(npr. password123)</i>
         </li>
         <li>
            Vaša nova lozinka ne sme sadržati samo cifre, već i slova. 
         </li>
     </ui>
     <br>
     <button type="submit">Pošalji</button>
    </form>
</div>
<br>
<br>
{% endblock content %}
