{% extends 'base.html' %}
{% block content %}
<div class="container">
  <br>
  <br>
<h1>Link za promenu lozinke je poslat!</h1>
<br>
  <p>
    Poslali smo Vam na email instrukcije za promenu lozinke, ukoliko imamo profil sa email adresom koju ste uneli. 
    Dobićete email uskoro!
  </p>
  <p>
    Ukoliko ne dobijete email sa instrukcijama, molim Vas proverite da li ste uneli dobru email adresu, tj. adresu sa kojom ste se registrovali.
    Takođe, proverite spam folder. 
  </p>
</div>
{% endblock content %}