{% extends 'base.html' %}
{% block content %}
  {% if validlink %}
  <div class="container">
    <br>
    <br>
    <h3>Promena Lozinke</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Promeni Lozinku</button>
    </form>
  </div>
  {% else %}
  <div class="container">
    <br>
    <br>
    <p>
      Link za resetovanje lozinke nije ispravan. verovatno jer je već iskorišćen.
      Molim Vas, zatražite promenu lozinke ponovo kako bi dobili novi email sa linkom za promenu. 
    </p>
  </div>
  <br>
<br>
  {% endif %}
{% endblock content %}