{% extends "base.html" %}
{% block content %}

<div class='row'>
    {% for proizvod in object_list %}
        <!-- <div class='col my-3'>
            <a href="{{ proizvod.url }}">{{ proizvod.naziv }}</a>
        </div> -->
        <div class="col-lg-4 col-md-6 col-xs-8 mt-2">
        <div class="card" style="width: 15rem;">
                <img class="img-thumbnail img-fluid" src="{{ proizvod.slika.url }}" alt="Card image cap">
            <div id="card-opacity" class="card-body">
              <p class="card-title">{{ proizvod.naziv }}</p>
              <p class="card-text">{{ proizvod.opis|slice:":18" }}...</p>
              <a href="{{ proizvod.url }}" class="btn btn-primary">Detalji</a>
            </div>
          </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}