body {
    background-image: url(/media/pozadina.png);
    font-weight: 500;
    font-size: larger;
  }

#about_h1 {
    text-align: center;
}

html *
{
    font-family: Serif, Sans-Serif;
}

#card-opacity {
        background-image: url(/media/cupcake.png);
        background-repeat: no-repeat;
        background-size: 20%;
        background-position-x: right;
        background-position-y: top;
  }

.card-title{
      font-size: large;
      font-weight: 600;
  }

.card-text{
      font-size: medium;
  }



  #col-1 {
    position: relative;
    width: 50%;
    float: left;
    height: 100%;

  }
  
  #col-2 {
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
  }

  .section-title{
    text-align: center;
  }


.radnovreme{
    font-weight: 600;
    font-size: xx-large;
  }


.lokacija{
    font-weight: 600;
    font-size: xx-large;
  }


/* #id_username{
  margin-left: 80px;
} */

/* #id_email{
  margin-left: 90px;
} */

#register_email{
  width: 50%;
}

#register_pass1{
  width: 50%;
}

#register_pass2{
  width: 50%;
}

#register_username {
  width: 50%;
}

#login_username{
  width: 50%;
}

#login_password{
  width: 50%;
}

#oldpass{
  width: 50%;
}

#newpass1{
  width: 50%;
}

#newpass2{
  width: 50%;
}

#newpass2{
  width: 50%;
}

#editprofile_email{
  width: 50%;
}

#editprofile_username{
  width: 50%;
}

#id_password1{
  margin-left: 132px;
}

#id_password2{
  margin-left: 72px;
}

#logouttekst{
  margin-top: 60px;
}

#id_old_password{
  margin-left: 68px;
}

#id_new_password1{
  margin-left: 68px;
}

#dovidjenja{
  font-size: x-large;
  font-weight: 500;
}


#receptpost{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  overflow: auto;
}

#nesa{
  max-width: 600px;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

#kolicina{
  max-width: 50px;
  border-radius: 10px;
}